{% extends 'Chat/padre.html' %}

{% block titulo %}
    Sala {{sala.nombre}}
{% endblock titulo %}
    
{% block imagen %}
    {% if avatar %}
        <a class="text-white">{{usuario}} </a>
        <img src="{{avatar}}" width="40px">     
    {% else  %}
        <a class="text-white">{{usuario}} </a>  
        <img src="/media/default.png" width="40px">
    {% endif %}
{% endblock imagen %}

{% block content %}
    <div  class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">Chat con {{receptor}}</h1>
    </div>        
    
        <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl ">
            <div class="chat-messages space-y-3" id="chat-messages">
                
                
                {% for x in mensajes %}

                 
                    {% if x.0 == 0 %}
                    <div class="p-4 bg-blue-200 rounded-xl">
                        <p class="font-semibold">
                            
                            {{usuario}} 
                            
                            
                            
                        </p>
                        <p>
                            {{x.1}}
                        </p>
                    </div>
                    {% else %}
                    <div class="p-4 bg-green-200 rounded-xl">
                        <p class="font-semibold">      
                            {{receptor}} 
                        </p>
                        <p>
                            {{x.1}}
                        </p>
                    </div>
                 
                 {% endif %}

                {% endfor %}
                
               
                    
                
            </div>
        </div>
        <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
            <form action="{% url 'enviarMensaje' ip %}" method="POST" class="flex">{% csrf_token %}
                <input type="text" name="contenido" class="flex-1 mr-3" placeholder="Escribe tu mensaje aqui" id="chat-mensaje-contenido">
                <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700 text-decoration-none" >Enviar</button>
            </form>
        </div>
    
{% endblock content %}

