{% extends 'FECODER_APP/padre.html' %}
    
{% load static %}
    
{% block contenido %}
    <div style="color: white">
        <h1>Restablecer su contraseña</h1>
    {% if validlink %}
    <p>Por favor ingrese su nueva contraseña dos veces:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" class="btn-primary" value="Cambiar mi contraseña" />
        </p>
    </form>
    {% else %}
    <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña</p>
    {% endif %}
    </div>

{% endblock %}