<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog FECODER</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'FECODER_APP/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- CSS only -->
        
        <link href="{% static 'FECODER_APP/css/styles.css' %}" rel="stylesheet" />
    </head>
    <style>
        body{
            background-image: radial-gradient(circle, #141e30, #182539, #1c2c42, #20334b, #243b55);
            color: white;
        }
     
        .icon{
            height: 60px;
        }
        .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
        }
        .dropdown-submenu {
            position:relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top:-6px;
        }

        /* rotate caret on hover */
        .dropdown-menu > li > a:hover:after {
            text-decoration: underline;
            transform: rotate(-90deg);
        } 

       
    </style>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}"><img class="icon" src="{% static 'FECODER_APP/assets/img/icon.jpg' %}" alt=""> Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                        
                        
                        {% if not request.user.is_authenticated %}
                            
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Ingresar</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registro</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://github.com/ShaditCuber/FECODER_APP/tree/new">GitHub Proyecto <i class="fa fa-github"></i></a></li>
                        {% else %}
                            
                            {% if request.user.username == 'admin' %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'mostrarPerfiles' %}">Usuarios</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'buscarContacto' %}">Contactos</a></li>
                            {% endif %}
                              
                            <li class="nav-item"><a class="nav-link" href="{% url 'formularioPosts' %}">Subir Post</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a></li>  
                            <li class="nav-item"><a class="nav-link" href="https://github.com/ShaditCuber/FECODER_APP/tree/new">GitHub Proyecto <i class="fa fa-github"></i></a></li>
                            
                                
                    
                            
                            
                                
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {% block fotoUser %}
                                
                                    {% endblock fotoUser %} {{ request.user.username }} </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    
                                    <li><a class="dropdown-item" href="{% url 'misPost' %}">Mis Posts</a></li>
                                    <li ><a class="dropdown-item" href="{% url 'verPerfil' request.user.id %}">Ver Perfil</a></li>
                                    <li ><a class="dropdown-item" href="{% url 'editandoUsuario' request.user.id %}">Editar Perfil</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cambiarContraseña'  %}">Cambiar Contraseña</a></li>
                                    <li><a class="cerrar-sesion dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                                    <li><a class="dropdown-item" href="{% url 'chat' %}">Chats</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    
                        
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page header with logo and tagline-->
        
           
            
           
        <br>
        
        <div class="container">

            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                       
                        {% block GrandeGeneral %}
                        {% endblock %}
                    <!-- Fila para nuevos post-->
                    <div style="display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 10px; color:black">
                        
                            {%block post%}
                            {%endblock%}
                        
                    </div>
                
                   

              

        
        {% block contenido %}
        {% endblock %}
        {% block formulario %}
        {% endblock %}           
        </div>  
                   
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; FECODER 2022</p></div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        {% block extraJS %}
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            $('.cerrar-sesion').click(function(e){
            e.preventDefault();
            Swal.fire({
            title: '{{request.user.username}} estas seguro que deseas cerrar sesion?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, salir!',
            cancelButtonText : 'Cancelar'
            
            }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'logout'  %}";
            }
            })
            })
        </script>
        {% endblock extraJS %}
            
    </body>
</html>
